---
import GameBar from "../components/game/GameBar";
import GameBoard from "../components/game/GameBoard";
import GameSplash from "../components/game/GameSplash";
import LanguageSwitcher from "../components/meta/LanguageSwitcher";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Game" description="The game state">
  <main class="flex h-fit w-full max-w-[28.75rem] flex-col items-center gap-5">
    <LanguageSwitcher client:load />

    <GameBar client:load />

    <!-- Make sure the board gets rendered correctly, or it shows empty squares due to cache from SSR. -->
    <GameBoard client:only="solid-js" />

    <GameSplash client:load />
  </main>
</PageLayout>
