---
import IconO from "../components/icons/IconO";
import IconX from "../components/icons/IconX";
import MarkSection from "../components/index/MarkSection";
import LanguageSwitcher from "../components/meta/LanguageSwitcher";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Tic Tac Toe"
  description="New game menu for the tic tac toe game."
>
  <main
    class="flex h-fit w-full max-w-[28.75rem] flex-col items-center gap-8 md:gap-10"
  >
    <LanguageSwitcher client:load />

    <div
      class="z-0 flex flex-row items-center justify-center gap-2"
      aria-hidden="true"
    >
      <IconX width={32} />
      <IconO width={32} />
    </div>

    <MarkSection client:load />
  </main>
</PageLayout>
